# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Environment
.env
.flaskenv
.env.local

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
